In [1]:
import os

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
data = pd.ExcelFile("Challenge 20_Dataset.xlsx")

In [4]:
sheet_names = data.sheet_names
print(f"Xlsx sheet names\n{sheet_names}")

Xlsx sheet names
['Actual Production', 'Production&Sales Forecast', 'Sales Orders', 'Finished Goods Inventory', 'Products', 'Machines']

In [5]:
ActualProduction = pd.read_excel(data, sheet_name=sheet_names[0])
ActualProduction.head()

        Date Machine    Product  Quantity    Shift
0 2020-01-02    F-12  Product 1       132  Shift#2
1 2020-01-16    F-12  Product 1       216  Shift#2
2 2020-01-17    F-12  Product 1       348  Shift#1
3 2020-01-31    F-12  Product 1        72  Shift#2
4 2020-02-02    F-12  Product 1       324  Shift#2

In [6]:
print(ActualProduction.columns)
print(ActualProduction.shape)

Index(['Date', 'Machine', 'Product', 'Quantity', 'Shift'], dtype='object')
(15655, 5)

In [7]:
ActualProduction.dtypes

Date        datetime64[ns]
Machine             object
Product             object
Quantity             int64
Shift               object
dtype: object

In [8]:
ActualProduction.describe()

                                Date      Quantity
count                          15655  15655.000000
mean   2021-04-18 15:25:37.732353792    225.839923
min              2020-01-02 00:00:00   -175.000000
25%              2020-09-06 00:00:00    100.000000
50%              2021-05-12 00:00:00    200.000000
75%              2022-01-09 00:00:00    300.000000
max              2022-05-05 00:00:00   1170.000000
std                              NaN    177.532464

In [9]:
ActualProduction.isna().sum()

Date        0
Machine     0
Product     0
Quantity    0
Shift       0
dtype: int64

In [10]:
def Unique_Check(df):
    for col in df.columns:
        if col != "Date" and not pd.api.types.is_numeric_dtype(df[col]):
            print(f"Unique values in column {col} : {df[col].unique()}\n")

In [11]:
Unique_Check(ActualProduction)

Unique values in column Machine : ['F-12' 'F-14' 'F-9' 'F-10' 'F-7' 'F-15' 'F-11' 'F-3' 'F-4' 'F-5' 'F-6'
 'F-1' 'F-8' 'F-13' 'H-1' 'F-2' 'H-2' 'T-1' 'P-1' 'P-2' 'T-2' 'F-18']

Unique values in column Product : ['Product 1' 'Product 10' 'Product 100' 'Product 101' 'Product 102'
 'Product 103' 'Product 104' 'Product 105' 'Product 106' 'Product 107'
 'Product 108' 'Product 109' 'Product 11' 'Product 110' 'Product 111'
 'Product 112' 'Product 113' 'Product 114' 'Product 115' 'Product 116'
 'Product 117' 'Product 118' 'Product 119' 'Product 12' 'Product 120'
 'Product 121' 'Product 122' 'Product 123' 'Product 124' 'Product 125'
 'Product 126' 'Product 127' 'Product 128' 'Product 129' 'Product 13'
 'Product 130' 'Product 131' 'Product 132' 'Product 133' 'Product 134'
 'Product 135' 'Product 136' 'Product 137' 'Product 138' 'Product 139'
 'Product 14' 'Product 140' 'Product 141' 'Product 142' 'Product 143'
 'Product 144' 'Product 145' 'Product 146' 'Product 147' 'Product 148'
 'Product 149' 'Product 15' 'Product 150' 'Product 151' 'Product 152'
 'Product 153' 'Product 154' 'Product 155' 'Product 156' 'Product 157'
 'Product 158' 'Product 159' 'Product 16' 'Product 160' 'Product 161'
 'Product 162' 'Product 163' 'Product 164' 'Product 165' 'Product 166'
 'Product 167' 'Product 168' 'Product 169' 'Product 17' 'Product 170'
 'Product 171' 'Product 172' 'Product 173' 'Product 174' 'Product 175'
 'Product 176' 'Product 177' 'Product 178' 'Product 179' 'Product 18'
 'Product 180' 'Product 181' 'Product 182' 'Product 183' 'Product 184'
 'Product 185' 'Product 186' 'Product 187' 'Product 188' 'Product 189'
 'Product 19' 'Product 190' 'Product 191' 'Product 192' 'Product 193'
 'Product 194' 'Product 195' 'Product 196' 'Product 197' 'Product 198'
 'Product 199' 'Product 2' 'Product 20' 'Product 200' 'Product 201'
 'Product 202' 'Product 203' 'Product 204' 'Product 205' 'Product 206'
 'Product 207' 'Product 208' 'Product 209' 'Product 21' 'Product 210'
 'Product 211' 'Product 212' 'Product 213' 'Product 214' 'Product 215'
 'Product 216' 'Product 217' 'Product 22' 'Product 225' 'Product 227'
 'Product 228' 'Product 229' 'Product 23' 'Product 230' 'Product 231'
 'Product 233' 'Product 234' 'Product 236' 'Product 237' 'Product 238'
 'Product 24' 'Product 241' 'Product 248' 'Product 25' 'Product 251'
 'Product 257' 'Product 258' 'Product 26' 'Product 260' 'Product 261'
 'Product 262' 'Product 27' 'Product 272' 'Product 274' 'Product 275'
 'Product 276' 'Product 279' 'Product 28' 'Product 281' 'Product 283'
 'Product 284' 'Product 285' 'Product 29' 'Product 291' 'Product 292'
 'Product 295' 'Product 3' 'Product 30' 'Product 306' 'Product 308'
 'Product 31' 'Product 32' 'Product 323' 'Product 325' 'Product 327'
 'Product 329' 'Product 33' 'Product 336' 'Product 337' 'Product 34'
 'Product 345' 'Product 346' 'Product 349' 'Product 35' 'Product 358'
 'Product 36' 'Product 365' 'Product 37' 'Product 370' 'Product 38'
 'Product 39' 'Product 4' 'Product 40' 'Product 401' 'Product 407'
 'Product 409' 'Product 41' 'Product 414' 'Product 42' 'Product 422'
 'Product 43' 'Product 430' 'Product 44' 'Product 446' 'Product 45'
 'Product 46' 'Product 463' 'Product 465' 'Product 467' 'Product 47'
 'Product 478' 'Product 48' 'Product 489' 'Product 49' 'Product 490'
 'Product 5' 'Product 50' 'Product 505' 'Product 508' 'Product 51'
 'Product 52' 'Product 529' 'Product 53' 'Product 54' 'Product 55'
 'Product 555' 'Product 558' 'Product 56' 'Product 565' 'Product 566'
 'Product 57' 'Product 570' 'Product 579' 'Product 58' 'Product 587'
 'Product 59' 'Product 593' 'Product 594' 'Product 6' 'Product 60'
 'Product 61' 'Product 62' 'Product 622' 'Product 625' 'Product 626'
 'Product 628' 'Product 63' 'Product 636' 'Product 64' 'Product 644'
 'Product 648' 'Product 65' 'Product 652' 'Product 656' 'Product 657'
 'Product 658' 'Product 66' 'Product 660' 'Product 663' 'Product 664'
 'Product 67' 'Product 673' 'Product 677' 'Product 68' 'Product 681'
 'Product 69' 'Product 7' 'Product 70' 'Product 71' 'Product 72'
 'Product 73' 'Product 74' 'Product 75' 'Product 76' 'Product 77'
 'Product 78' 'Product 79' 'Product 8' 'Product 80' 'Product 81'
 'Product 82' 'Product 83' 'Product 84' 'Product 85' 'Product 86'
 'Product 87' 'Product 88' 'Product 89' 'Product 9' 'Product 90'
 'Product 91' 'Product 92' 'Product 93' 'Product 94' 'Product 95'
 'Product 96' 'Product 97' 'Product 98' 'Product 99']

Unique values in column Shift : ['Shift#2' 'Shift#1']

In [12]:
ActualProduction['Quantity'] = abs(ActualProduction['Quantity'])

In [13]:
print(ActualProduction['Quantity'].unique())

[ 132  216  348   72  324   48  432   12  120   24  246  192  160  108
  276  240   84  372   60   36  300  312  204  144  168  252  264  228
   96  360  156   23  288  336  180  444    0  396  210  150  165   15
   50   30   90  195   75  225    9  125   45  135  255   37  184  175
  231  196  217  224  161  270  306  208   56  126   18  234  283  198
  378  174  260  323  162  318  354  154  286   40  290  342   98  314
  164  238  376   80   52   16  128   32  390  313  420  484   25  330
  510  261  349  297  480  299  149   70  450  202  507   21  410  280
  327  434   88  189   82   76  423  263  371  211  269  200   28  308
   42  392  112  106  291  235  140  364  352  273   13  167  223  413
  129  334  320   73  136  113  177  153  117  468  355  357  408  460
  368  332  205  171   85   47   61   74  100  222  103  660  570  139
  524  540  690  438  630  600  294  720  840  206  221  780  640  810
  750  564  328  870  990  908  930  614  900 1170  960  329  453  890
  561  472  834  821  799  576 1020  648  739   92  500  279  394  499
  677  186  455  525  289  651  560  595  315  563  650  875  764  490
  770  665  385   35   69  700  498  633  805  910  476  626  945  735
  275  105  609  267  163  546  681  173  828  245  406  980  603  647
  363   53  274 1050  722  179  159   55    6  104  131  169   64   38
  172  158  243  220   81  191  213  340   20   39   83  199   99  302
  188   58  311  157  316  176  115  109  278   34  185   57   43    5
  214   33  194  110   89  123  138  141  137  232  147  119  118   95
  130   22  209  170  212  250   66   87  237  116  226  111  197  143
   65  257  350  400  218  550  573   14  381   71  384   77  201   79
  256  107  133  145  155   97  151   41  142  101   44  122  251  114
   54   68  178  182  247  309  284   46  285  304   67   93  456  310
  190  148  124  325  820  440  740  686  620  265  520  623  552  860
  227  636  800  680  449  728   26  370   63  393  353  366   62  395
  629  287  183  248  203  258  301  207  532  912  253  496  848  512
  928  736  688  624  743  704  701  272  608  592    8  517  816  697
  345  416  610  672  296  612  464  752  896  544  656  768  652  784
  864  292  832  528  448  568  399  365  428   51    1  377  230  127
   17  644  597  481  375  409  523  215   94  374   10  583   11   78
  586  433  585  401  339  441  426  488  397  852  598  388  503  679
  653  823  494  584  437  382  738   19  511  631  545  558  317  696
  307  547    2  242  335  277  262  236  282  244  187   31  241  229
  166    4   49   91  239  193  305  527  485  760  580   59  266   86
  102  333  295  271  430  522  398  233  386  219  458  526  422  531
  121  181  380  359  664  508  152   27  344  303  424  405  462  565
  709  535  146    3  594  414  486  442  429  504   29    7  785  347
  343  346  431  331  516  537  492  447  465  435  505  475  412  338
  341  337  134  358  319  369]

In [14]:
print(ActualProduction.describe())

                                Date      Quantity
count                          15655  15655.000000
mean   2021-04-18 15:25:37.732353792    225.954647
min              2020-01-02 00:00:00      0.000000
25%              2020-09-06 00:00:00    100.000000
50%              2021-05-12 00:00:00    200.000000
75%              2022-01-09 00:00:00    300.000000
max              2022-05-05 00:00:00   1170.000000
std                              NaN    177.386417

In [15]:
ForcastUnit = pd.read_excel(data, sheet_name=sheet_names[1])
ForcastUnit.head()

        Date    Product        Forecast Type  Forecast Units
0 2020-01-01  Product 1  Production Forecast          1532.0
1 2020-01-01  Product 1       Sales Forecast          1532.0
2 2020-02-01  Product 1  Production Forecast          1908.0
3 2020-02-01  Product 1       Sales Forecast          1908.0
4 2020-03-01  Product 1  Production Forecast          1800.0

In [16]:
ForcastUnit.dtypes

Date              datetime64[ns]
Product                   object
Forecast Type             object
Forecast Units           float64
dtype: object

In [17]:
ForcastUnit.isna().sum()

Date              0
Product           0
Forecast Type     0
Forecast Units    0
dtype: int64

In [18]:
ForcastUnit.describe()

                                Date  Forecast Units
count                          14300    14300.000000
mean   2021-05-06 05:55:09.986013952     1162.818783
min              2020-01-01 00:00:00    -2676.000000
25%              2020-08-01 00:00:00       60.000000
50%              2021-04-01 00:00:00      400.950000
75%              2022-02-01 00:00:00     1359.000000
max              2022-12-01 00:00:00    18532.600000
std                              NaN     2002.553114

In [19]:
for val in ForcastUnit['Forecast Units']:
    if val < 0:
        print(val)

-2676.0
-2676.0
-60.0

In [20]:
ForcastUnit['Forecast Units'] = abs(ForcastUnit['Forecast Units'])

In [21]:
negCount = 0
for val in ForcastUnit['Forecast Units']:
    if val < 0:
        print(val)
        negCount += 1

print(f"Count of negative values = {negCount}")

Count of negative values = 0

In [22]:
Unique_Check(ForcastUnit)

Unique values in column Product : ['Product 1' 'Product 10' 'Product 100' 'Product 1002' 'Product 101'
 'Product 1013' 'Product 102' 'Product 1024' 'Product 103' 'Product 1037'
 'Product 104' 'Product 105' 'Product 106' 'Product 1065' 'Product 1068'
 'Product 107' 'Product 108' 'Product 1084' 'Product 109' 'Product 110'
 'Product 1109' 'Product 111' 'Product 112' 'Product 113' 'Product 1138'
 'Product 114' 'Product 115' 'Product 116' 'Product 117' 'Product 118'
 'Product 119' 'Product 12' 'Product 120' 'Product 121' 'Product 122'
 'Product 123' 'Product 124' 'Product 125' 'Product 126' 'Product 127'
 'Product 128' 'Product 129' 'Product 13' 'Product 130' 'Product 131'
 'Product 132' 'Product 133' 'Product 134' 'Product 135' 'Product 1350'
 'Product 1351' 'Product 1357' 'Product 136' 'Product 137' 'Product 138'
 'Product 139' 'Product 14' 'Product 140' 'Product 141' 'Product 142'
 'Product 143' 'Product 144' 'Product 145' 'Product 146' 'Product 147'
 'Product 148' 'Product 149' 'Product 15' 'Product 150' 'Product 1508'
 'Product 151' 'Product 152' 'Product 153' 'Product 154' 'Product 155'
 'Product 156' 'Product 157' 'Product 158' 'Product 159' 'Product 16'
 'Product 160' 'Product 161' 'Product 162' 'Product 163' 'Product 164'
 'Product 165' 'Product 166' 'Product 167' 'Product 168' 'Product 169'
 'Product 17' 'Product 170' 'Product 171' 'Product 172' 'Product 173'
 'Product 174' 'Product 175' 'Product 176' 'Product 177' 'Product 18'
 'Product 180' 'Product 181' 'Product 182' 'Product 183' 'Product 184'
 'Product 185' 'Product 186' 'Product 187' 'Product 188' 'Product 189'
 'Product 19' 'Product 190' 'Product 191' 'Product 192' 'Product 193'
 'Product 194' 'Product 195' 'Product 196' 'Product 197' 'Product 198'
 'Product 199' 'Product 2' 'Product 20' 'Product 200' 'Product 201'
 'Product 202' 'Product 203' 'Product 204' 'Product 205' 'Product 206'
 'Product 207' 'Product 208' 'Product 209' 'Product 21' 'Product 211'
 'Product 212' 'Product 213' 'Product 214' 'Product 215' 'Product 216'
 'Product 217' 'Product 22' 'Product 225' 'Product 227' 'Product 228'
 'Product 229' 'Product 23' 'Product 230' 'Product 231' 'Product 233'
 'Product 234' 'Product 236' 'Product 237' 'Product 238' 'Product 24'
 'Product 241' 'Product 248' 'Product 25' 'Product 251' 'Product 257'
 'Product 258' 'Product 26' 'Product 260' 'Product 261' 'Product 262'
 'Product 27' 'Product 272' 'Product 274' 'Product 275' 'Product 276'
 'Product 279' 'Product 28' 'Product 281' 'Product 283' 'Product 284'
 'Product 285' 'Product 29' 'Product 291' 'Product 292' 'Product 295'
 'Product 3' 'Product 30' 'Product 306' 'Product 308' 'Product 31'
 'Product 32' 'Product 323' 'Product 325' 'Product 327' 'Product 329'
 'Product 336' 'Product 337' 'Product 34' 'Product 345' 'Product 346'
 'Product 349' 'Product 35' 'Product 358' 'Product 36' 'Product 365'
 'Product 37' 'Product 370' 'Product 38' 'Product 39' 'Product 4'
 'Product 40' 'Product 401' 'Product 407' 'Product 409' 'Product 41'
 'Product 414' 'Product 42' 'Product 422' 'Product 43' 'Product 430'
 'Product 44' 'Product 446' 'Product 45' 'Product 46' 'Product 465'
 'Product 467' 'Product 47' 'Product 478' 'Product 48' 'Product 489'
 'Product 49' 'Product 490' 'Product 5' 'Product 50' 'Product 505'
 'Product 508' 'Product 51' 'Product 52' 'Product 529' 'Product 53'
 'Product 54' 'Product 55' 'Product 555' 'Product 558' 'Product 56'
 'Product 565' 'Product 566' 'Product 57' 'Product 570' 'Product 579'
 'Product 58' 'Product 587' 'Product 59' 'Product 593' 'Product 594'
 'Product 6' 'Product 60' 'Product 61' 'Product 62' 'Product 622'
 'Product 626' 'Product 628' 'Product 63' 'Product 636' 'Product 64'
 'Product 644' 'Product 648' 'Product 65' 'Product 652' 'Product 656'
 'Product 657' 'Product 658' 'Product 66' 'Product 660' 'Product 663'
 'Product 664' 'Product 67' 'Product 673' 'Product 677' 'Product 68'
 'Product 681' 'Product 686' 'Product 687' 'Product 688' 'Product 689'
 'Product 69' 'Product 690' 'Product 691' 'Product 692' 'Product 693'
 'Product 694' 'Product 695' 'Product 696' 'Product 697' 'Product 698'
 'Product 699' 'Product 70' 'Product 700' 'Product 701' 'Product 702'
 'Product 703' 'Product 704' 'Product 705' 'Product 706' 'Product 707'
 'Product 708' 'Product 709' 'Product 71' 'Product 710' 'Product 711'
 'Product 712' 'Product 713' 'Product 714' 'Product 715' 'Product 716'
 'Product 717' 'Product 718' 'Product 719' 'Product 72' 'Product 720'
 'Product 721' 'Product 73' 'Product 74' 'Product 740' 'Product 75'
 'Product 757' 'Product 759' 'Product 76' 'Product 77' 'Product 78'
 'Product 780' 'Product 79' 'Product 8' 'Product 80' 'Product 805'
 'Product 806' 'Product 808' 'Product 81' 'Product 82' 'Product 83'
 'Product 84' 'Product 85' 'Product 859' 'Product 86' 'Product 860'
 'Product 862' 'Product 865' 'Product 87' 'Product 871' 'Product 872'
 'Product 88' 'Product 89' 'Product 9' 'Product 90' 'Product 91'
 'Product 92' 'Product 922' 'Product 929' 'Product 93' 'Product 930'
 'Product 936' 'Product 94' 'Product 944' 'Product 95' 'Product 96'
 'Product 964' 'Product 965' 'Product 966' 'Product 967' 'Product 968'
 'Product 97' 'Product 970' 'Product 971' 'Product 972' 'Product 973'
 'Product 975' 'Product 98' 'Product 982' 'Product 983' 'Product 99']

Unique values in column Forecast Type : ['Production Forecast' 'Sales Forecast']

In [23]:
SalesOrders = pd.read_excel(data, sheet_name=sheet_names[2])
SalesOrders.head()

,Product,Quantity,2022-05-07 00:00:00,2022-05-08 00:00:00,2022-05-09 00:00:00,2022-05-10 00:00:00,2022-05-11 00:00:00,2022-05-12 00:00:00,2022-05-13 00:00:00,2022-05-14 00:00:00,2022-05-15 00:00:00,2022-05-16 00:00:00,2022-05-17 00:00:00,2022-05-18 00:00:00,2022-05-19 00:00:00,2022-05-20 00:00:00
0,Product 1,141,0,0,0,0,0,0,36,0,0,0,0,0,0,0
1,Product 2,877,0,0,36,90,0,180,216,0,0,36,198,36,0,0
2,Product 3,1593,0,0,25,0,0,100,100,0,0,125,175,0,0,0
3,Product 4,463,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Product 5,2284,0,0,576,300,0,1320,1392,0,0,192,1296,288,0,0

In [24]:
SalesOrders.shape

(181, 16)

In [25]:
SalesOrders.dtypes

Product                object
Quantity                int64
2022-05-07 00:00:00     int64
2022-05-08 00:00:00     int64
2022-05-09 00:00:00     int64
2022-05-10 00:00:00     int64
2022-05-11 00:00:00     int64
2022-05-12 00:00:00     int64
2022-05-13 00:00:00     int64
2022-05-14 00:00:00     int64
2022-05-15 00:00:00     int64
2022-05-16 00:00:00     int64
2022-05-17 00:00:00     int64
2022-05-18 00:00:00     int64
2022-05-19 00:00:00     int64
2022-05-20 00:00:00     int64
dtype: object

In [26]:
SalesOrders.describe()

,Quantity,2022-05-07 00:00:00,2022-05-08 00:00:00,2022-05-09 00:00:00,2022-05-10 00:00:00,2022-05-11 00:00:00,2022-05-12 00:00:00,2022-05-13 00:00:00,2022-05-14 00:00:00,2022-05-15 00:00:00,2022-05-16 00:00:00,2022-05-17 00:00:00,2022-05-18 00:00:00,2022-05-19 00:00:00,2022-05-20 00:00:00
count,181.000000,181.0,181.0,181.000000,181.000000,181.000000,181.000000,181.000000,181.0,181.0,181.000000,181.000000,181.000000,181.000000,181.000000
mean,903.883978,0.0,0.0,104.729282,74.729282,67.270718,67.839779,104.895028,0.0,0.0,100.447514,75.110497,26.121547,21.651934,36.077348
std,1225.182804,0.0,0.0,231.432372,175.882975,149.005103,155.712098,235.664651,0.0,0.0,202.634246,183.344057,77.508900,59.395897,149.203644
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,137.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,463.000000,0.0,0.0,8.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1236.000000,0.0,0.0,92.000000,80.000000,85.000000,62.000000,112.000000,0.0,0.0,90.000000,84.000000,12.000000,0.000000,0.000000
max,8196.000000,0.0,0.0,1550.000000,1004.000000,1425.000000,1320.000000,1392.000000,0.0,0.0,1199.000000,1551.000000,625.000000,468.000000,1350.000000

In [27]:
sheet_names[3]

'Finished Goods Inventory'

In [28]:
FinishedGoodsInventory = pd.read_excel(data, sheet_name=sheet_names[3])
FinishedGoodsInventory

          Date      Product  Opening  Produced  Consumed  Closing
0   2022-05-24    Product 1      141         0       -12      141
1   2022-05-24    Product 2      949         0       -72      877
2   2022-05-24    Product 3     1486       182       -75     1593
3   2022-05-24    Product 4      463         0         0      463
4   2022-05-24    Product 5     2980       492     -1188     2284
..         ...          ...      ...       ...       ...      ...
171 2022-05-24  Product 203     1916         0         0     1916
172 2022-05-24  Product 204     1184         0         0     1184
173 2022-05-24  Product 205      793         0         0      793
174 2022-05-24  Product 206       78         0       -60       18
175 2022-05-24  Product 208        1         0         0        1

[176 rows x 6 columns]

In [29]:
FinishedGoodsInventory.dtypes

Date        datetime64[ns]
Product             object
Opening              int64
Produced             int64
Consumed             int64
Closing              int64
dtype: object

In [30]:
FinishedGoodsInventory.describe()

,Date,Opening,Produced,Consumed,Closing
count,176,176.000000,176.000000,176.000000,176.000000
mean,2022-05-24 00:00:00,963.755682,235.448864,-266.835227,929.562500
min,2022-05-24 00:00:00,0.000000,0.000000,-4131.000000,1.000000
25%,2022-05-24 00:00:00,147.250000,0.000000,-302.750000,150.750000
50%,2022-05-24 00:00:00,540.500000,0.000000,-35.000000,490.500000
75%,2022-05-24 00:00:00,1187.250000,0.000000,0.000000,1252.500000
max,2022-05-24 00:00:00,10181.000000,4844.000000,0.000000,8196.000000
std,NaN,1381.667201,656.583945,505.983739,1232.864352

In [31]:

def Negative_Check(df):
    for col in df.columns:
        negCount = 0
        if pd.api.types.is_numeric_dtype(df[col]):
            for val in df[col]:
                if val < 0 :
                    negCount += 1
            print(f"Count of negative values in {col} = {negCount}")


#############################

Negative_Check(FinishedGoodsInventory)

Count of negative values in Opening = 0
Count of negative values in Produced = 0
Count of negative values in Consumed = 112
Count of negative values in Closing = 0

In [32]:
FinishedGoodsInventory['Consumed'] = abs(FinishedGoodsInventory['Consumed'])

Negative_Check(FinishedGoodsInventory)

Count of negative values in Opening = 0
Count of negative values in Produced = 0
Count of negative values in Consumed = 0
Count of negative values in Closing = 0

In [33]:
sheet_names

['Actual Production',
 'Production&Sales Forecast',
 'Sales Orders',
 'Finished Goods Inventory',
 'Products',
 'Machines']

In [34]:
Products = pd.read_excel(data, sheet_name=sheet_names[4])
Products.head()

     Product    Product Type
0  Product 1  Cheddar & Sour
1  Product 2  Cheddar & Sour
2  Product 3  Cheddar & Sour
3  Product 4  Cheddar & Sour
4  Product 5  Cheddar & Sour

In [35]:
Products.dtypes

Product         object
Product Type    object
dtype: object

In [36]:
Products.describe()

             Product  Product Type
count           1797          1797
unique          1797            12
top     Product 1797  Tangy Cheese
freq               1           601

In [37]:
Products.isna().sum()

Product         0
Product Type    0
dtype: int64

In [38]:
Products.value_counts()

Product       Product Type
Product 999   Lightly Salted        1
Product 1     Cheddar & Sour        1
Product 10    Lightly Salted        1
Product 100   Cheddar Cheese        1
Product 1000  Tangy Cheese          1
                                   ..
Product 1006  Salt & Vinegar        1
Product 1005  Original              1
Product 1004  Chicken & Waffles     1
Product 1003  Sour Cream & Onion    1
Product 1002  Chilli Cheese         1
Name: count, Length: 1797, dtype: int64

In [39]:
Products['Product Type'].unique()

array(['Cheddar & Sour', 'Lightly Salted', 'Chilli Cheese',
       'Tangy Cheese', 'Cheese & jalapeno', 'Chicken & Waffles',
       'Cheddar Cheese', 'Sour Cream & Onion', 'Original',
       'Salt & Vinegar', 'Spicy Nacho', 'BBQ'], dtype=object)

In [40]:
Products['Product'].unique()

array(['Product 1', 'Product 2', 'Product 3', ..., 'Product 1795',
       'Product 1796', 'Product 1797'], shape=(1797,), dtype=object)

In [41]:
Products.shape

(1797, 2)

In [42]:
Machines = pd.read_excel(data, sheet_name=sheet_names[5])
Machines.head()

  Machines Machine Type
0      F-1      Forming
1      F-2      Forming
2      F-3      Forming
3      F-4      Forming
4      F-5      Forming

In [43]:
Machines.describe()

       Machines Machine Type
count        21           21
unique       21            4
top         F-1      Forming
freq          1           15

In [44]:
Machines.shape

(21, 2)

In [45]:
Machines.value_counts()

Machines  Machine Type
F-1       Forming         1
F-10      Forming         1
F-11      Forming         1
F-12      Forming         1
F-13      Forming         1
F-14      Forming         1
F-15      Forming         1
F-2       Forming         1
F-3       Forming         1
F-4       Forming         1
F-5       Forming         1
F-6       Forming         1
F-7       Forming         1
F-8       Forming         1
F-9       Forming         1
H-1       Heating         1
H-2       Heating         1
P-1       Packaging       1
P-2       Packaging       1
T-1       Topping         1
T-2       Topping         1
Name: count, dtype: int64

In [46]:
Machines.dtypes

Machines        object
Machine Type    object
dtype: object

In [47]:
sheet_names

['Actual Production',
 'Production&Sales Forecast',
 'Sales Orders',
 'Finished Goods Inventory',
 'Products',
 'Machines']

In [51]:
dfs = [
    ActualProduction, 
    ForcastUnit,
    SalesOrders,
    FinishedGoodsInventory,
    Products,
    Machines
]

# Save all to a new Excel file
with pd.ExcelWriter("Cleaned_Challenge_20_Dataset.xlsx", engine="openpyxl", mode="w") as writer:
    for df, name in zip(dfs, sheet_names):
        ActualProduction.to_excel(writer, sheet_name=sheet_names[0], index=False)
        ForcastUnit.to_excel(writer, sheet_name=sheet_names[1], index=False)
        SalesOrders.to_excel(writer, sheet_name=sheet_names[2], index=False)
        FinishedGoodsInventory.to_excel(writer, sheet_name=sheet_names[3], index=False)
        Products.to_excel(writer, sheet_name=sheet_names[4], index=False)
        Machines.to_excel(writer, sheet_name=sheet_names[5], index=False)

In [52]:

# with pd.ExcelWriter("Cleaned_Challenge 20_Dataset2.xlsx", engine="openpyxl", mode="w", if_sheet_exists='replace') as writer:
#     ActualProduction.to_excel(writer, sheet_name=sheet_names[0], index=False)
#     ForcastUnit.to_excel(writer, sheet_name=sheet_names[1], index=False)
#     SalesOrders.to_excel(writer, sheet_name=sheet_names[2], index=False)
#     FinishedGoodsInventory.to_excel(writer, sheet_name=sheet_names[3], index=False)
#     Products.to_excel(writer, sheet_name=sheet_names[4], index=False)
#     Machines.to_excel(writer, sheet_name=sheet_names[5], index=False)